/* font */
body {
  background-color: white;
  font-family: Lora, serif;
  font-weight: 400;
}
h1, h2, h3, h4, h5, nav {
  font-family: Cormorant, Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  text-transform: uppercase;
}
h3 { font-weight: 500; }
pre, code {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

/* font-style */
em { font-style: italic; }
b { font-weight: bold; }
h1 { text-align: center; }
h2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}
h3 { text-align: center; }
ol { list-style: upper-roman; }
ul { list-style: square; }

/* font size */
h1 { font-size: 3.4rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 2.0rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.333rem; }
h6 { font-size: 1.0rem; }
p, ol, ul {
  font-size: 1.333rem;
  line-height: 1.2;
}
pre, code {
  /*font-size: 1rem;*/
}
nav, nav ul {
  font-size: 1rem;
}

/* hyperlinks */
a { color: #e53; }
a:visited { color: #932; }
a:hover, a:active { color: #fb4; }

/* margins */
body { margin: 0 200px 3rem 200px; }
h1 { margin: 1.5rem 0; }
h2 { margin: 2rem 0 1rem 0; }
h3 { margin: 3rem 0 1rem 0; }
h2+h3 { margin-top: 1.5rem; }
ol, ul { padding-left: 2rem; }
/* prevent text under the menu */
nav + * { margin-top: 4rem; }
p + p,
p + ol,
ol + p,
p + ul,
ul + p { margin-top: 1rem; }
pre, code {
  overflow: auto;
  max-width: calc(100% - 2rem);
}

/* all pages begin with a H3 H1 combo of "chapter" "title" */
h1:first-of-type { margin: 1rem 0 3rem 0; }
h3:first-of-type { margin: 6rem 0 1rem 0; }

/* page layout */
/* side by side containers, except on mobile */
.grid-2 {
  display: grid;
  grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
  grid-column-gap: 1rem;
}
.grid-2 > * {
  flex: 1;
}

/* paragraph styles */
.quote {
  text-align: center;
  font-style: italic;
}
.explain {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #ffa;
  box-shadow: 5px 5px 5px #ccc;
  line-height: 2rem;
}
.equation {
  text-align: center;
  margin: 2rem auto;
}
.katex {
  font-size: 2em !important;
}
.code {
  margin: 2rem auto;
  width: 550px;
  padding: 1rem;
}
.color-yellow { color: #ea3; /* #fb4 */ }
.color-blue { color: #379; /* #58c */ }
.color-red { color: #e53; /* #f75 */ }

/* svg canvases */
div[id^=canvas-] {
  margin: 1rem 0;
  position: relative; /* for the small code editor button */
}
svg {
  width: 100%;
  height: initial;
  max-height: 16rem;
}

/* for mobile: allow onMove without scrolling screen */
svg { touch-action: none; }
svg * { pointer-events: none; }

/* webgl canvases */
div[id^=webgl-] {
  height: 16rem;
}

/* small code editor button */
.script-link {
  width: 1.5rem;
  height: 1.5rem;
  background-color: black;
  position: absolute;
  top: calc(50% - 0.75rem);
  right: 4px;
  background-image: url(../images/code.svg);
  background-size: 1rem 1rem;
  background-position: 0.25rem 0.25rem;
  background-repeat: no-repeat;
  cursor: pointer;
}

.button-row {
  margin: 2rem auto;
  text-align: center;
}
.button {
  font-size: 1.333rem;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  box-shadow: 5px 5px 0px #ddd;
}

.d3-force-graph svg { height: 16rem; }
.d3-force-graph line,
.d3-force-graph circle {
  stroke: #000;
  fill: #FFF;
  stroke-width: 4px;
  cursor: pointer;
}


/* dark and light mode */
/*
@media (prefers-color-scheme: light) {}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: #ccc;
  }
  h2 {
    border-bottom-color: white;
  }
  a { color: #e53; }
  a:visited { color: #932; }
  a:hover, a:active { color: #fb4; }
  .explain {
    color: white;
    background-color: #444;
    box-shadow: 5px 5px 5px #222;
  }
  .katex {}
  .code {}
  .color-yellow { color: #ea3; }
  .color-blue { color: #379; }
  .color-red { color: #e53; }
  .script-link {
    background-color: #444;
    background-image: url(../images/code.svg);
  }
  .button {
    box-shadow: 5px 5px 0px #ddd;
  }
  .d3-force-graph line,
  .d3-force-graph circle {
    stroke: #fff;
    fill: #000;
  }
}
*/

/* large computers */
@media (min-width: 2000px) {
  body{
    margin: 0 600px 5rem 600px;
  }
  .code {
    width: 700px;
  }
}
/* large computers */
@media (min-width: 1600px) {
  body{
    margin: 0 400px 3rem 400px;
  }
  .code {
    width: 550px;
  }
}
/* medium computers */
@media (max-width: 1000px) {
  body{
    margin: 0 100px 3rem 100px;
  }
  .code {
    width: 450px;
  }
}

/* small computers. basically mobile */
@media (max-width: 700px) {
  nav, nav ul {
    /*height: 3rem;*/
    overflow: hidden;
  }
  /* no longer need to prevent text under the menu */
  nav + * {
    /*margin-top: initial;*/
    margin-top: 1.5rem;
  }
  h1:first-of-type {
    margin-bottom: 0;
  }
  h3:first-of-type {
    margin-top: 0;
  }
  pre, code {
    max-width: calc(100% - 2rem);
  }
  body{
    margin: 0 1rem 2rem 1rem;
  }
  /*.code {
    width: calc(100% - 2rem);
  }*/
  .katex {
    font-size: 1.6rem !important;
  }
  .grid-2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
  .grid-2 > * {
    flex: 1;
  }
  .code {
    width: 100%;
  }
}

/* phones and tablets */
@media not all and (hover) { }



.section pre, pre.title{
  color: black;
  margin: 2rem 0 1rem 0;
  display: block;
  font-size: 1.6rem;
  overflow-x: scroll;
  font-weight: 800;
}

div[class^="sketch"] {
  /*height: 100%;*/
  height: 12rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 0rem;
  /*background-color: #272822;*/
}
div.section div[class^="sketch"] {
  margin-left: 0rem;
}

.code-editor {
  flex: 1;
  height: 100%;
  /*min-height: 150px;*/
}
.code-canvas {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*min-height: 150px;*/
}
.code-canvas svg {
  height: 100%;
  margin: auto;
}

ft   { color: black; }
argt { color: #999; }

pre.wrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
